* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #e7e7e7;
}

#flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    width: 500px;
    height: auto;
    margin: auto;
    padding: 2em;
}

.img-cad {
    width: 500px;
    height: auto;
}

.title {
    text-align: center;
}

#btn_cliente,
#btn_produto {
    width: 150px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    padding-top: 0.7em;
    color: #FFF;
    margin: 0 auto;
    border-radius: 25px;
    cursor: pointer;
}


#btn_cliente {
    background-color: rgb(141, 1, 255);
}

#btn_produto {
    background-color: rgb(3, 97, 219);
}

#btn_cliente:hover {
    background-color: rgb(156, 35, 255);
}

#btn_produto:hover {
    background-color: rgb(20, 122, 255);
}

#btn_cliente a,
#btn_produto a {
    text-decoration: none;
    color: #FFF;
}

form {
    width: 550px;
    height: auto;
    margin: 2em auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(78, 78, 78, 0.493);
    padding: 1em;
    text-align: center;
}

#cardForm a {
    text-decoration: none;
    color: #000;
}

/* #cardForm {
    margin-left: 20%;
} */

label {
    width: 200px;
    text-align: left;
}

input {
    width: 300px;
    height: 30px;
    border: 1px solid #e7e7e7;
    margin-bottom: 15px;
}

.alinharRotulos {
    text-align: right;
}

.alinhaBtns {
    width:150px;
    height: 40px;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
    background-color: black;
    color:white;
    border:0px;
    padding:5px;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.493);
    cursor: pointer;
}

.btn-success {
    background-color: rgb(63, 194, 118);
}

.btn-ok {
    background-color: rgb(20, 117, 228);
}

.btn-danger {
    background-color: rgb(219, 13, 13);
}

.btn-success:hover {
    background-color: rgb(70, 214, 130);
}

.btn-ok:hover {
    background-color: rgb(46, 136, 240);
}

.btn-danger:hover {
    background-color: rgb(248, 38, 38);
}

.carrinho {
    width:300px; 
    float:right;
}

.carrinho p {
    display: inline;
}

.carrinho img {
    width: 24px;
}


